@media (max-width: 1553.98px) {
    #content > div:nth-child(2) > div:nth-child(3){
        margin-top: 2rem;
    }
}
@media (max-width: 1031.98px) {
    #content > div:nth-child(2) > div:nth-child(2){
        margin-top: 2rem;
    }
    #content > div:nth-child(1){
        flex-wrap: wrap;
    }
    #content > div:nth-child(1) > div:nth-child(2){
        margin-top: 2rem;
    }
    .area{
        width: 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
    }
}