<nav class="navbar navbar-expand-lg mx-auto">
    <div class="container-fluid">
      <h1 class="navbar-brand" routerLink="/">Danilo Vilhena</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#right-side" aria-controls="right-side" aria-expanded="false" attr.aria-label="{{'header.collapse_alt' | translate}}">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="right-side">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects" [class.active]="isProjects">{{'header.projects' | translate }}</a>
          </li>
          <li class="nav-item ms-lg-3">
            <a class="nav-link" routerLink="/tech" [class.active]="isTech">{{'header.tech' | translate }}</a>
          </li>
          <li class="nav-item ms-lg-3">
            <a class="nav-link" routerLink="/contact" [class.active]="isContact">{{'header.contact' | translate }}</a>
          </li>
          <li class="nav-item ms-lg-3">
            <a *ngIf="language == 'pt'" (click)="changeLanguage()"><img src="assets/images/brazil.svg" alt="{{'header.brazil_alt' | translate}}" id="flag-btn"></a>
            <a *ngIf="language != 'pt'" (click)="changeLanguage()"><img src="assets/images/usa.svg" alt="{{'header.usa_alt' | translate}}" id="flag-btn"></a>
          </li>
        </ul>
      </div>
    </div>
</nav>