nav{
    width: 90%;
}
h1{
    color: #FFCA3A !important;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.02em;
    cursor: pointer;
    margin-bottom: 0 !important;
}
a{
    color: #ECECEC;
    font-weight: 400;
    font-size: 1.25rem;
    transition: all 0.25s ease-in-out;
}
a:hover{
    color: #FFCA3A;
}
a.active{
    font-weight: 500;
    color: #FFCA3A
}
img{
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    width: 2.5rem;
}
.navbar{
    padding-top: 1rem;
}
.navbar-collapse{
    width: fit-content !important;
}
.navbar-toggler{
    border-color: #FFCA3A;
    color: rgb(255, 202, 58);
    border-width: 2px;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,202,58, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}
.navbar-nav{
    align-items: center;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}