header{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
h1{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.02em;
}
nav{
    margin-right: 1.5rem;
}
a{
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 20px;
    transition: all 0.25s ease-in-out;
}
a:hover{
    color: var(--primary-color);
}
a.active{
    font-weight: 500;
    color: var(--primary-color)
}
img{
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
#right-side{
    display: flex;
    align-items: center;
}