<header class="mx-auto">
    <h1 routerLink="/">Danilo Vilhena</h1>
    <div id="right-side">
        <nav class="nav">
            <a class="nav-link" routerLink="/projects" [class.active]="isProjects">Projetos</a>
            <a class="nav-link" routerLink="/tech" [class.active]="isTech">Tecnologias</a>
            <a class="nav-link" routerLink="/contact" [class.active]="isContact">Contato</a>
        </nav>
        <a *ngIf="language == 'pt'"><img src="assets/images/brazil.svg" alt="Bandeira do Brasil" id="flag-btn" (click)="changeLanguage()"></a>
        <a *ngIf="language != 'pt'"><img src="assets/images/usa.svg" alt="Bandeira dos EUA" id="flag-btn" (click)="changeLanguage()"></a>
    </div>
</header>