<app-header></app-header>
<main class="mx-auto">
    <h2>Contato</h2>
    <section>
        <img src="assets/images/avatar.png" alt="Avatar do Danilo Vilhena">
        <div>
            <h3>E-mail</h3>
            <div class="line">
                <img src="assets/images/mail.svg" alt="Ícone de email">
                <p>danilo.vilhena@gmail.com</p>
            </div>
            <h3>Github</h3>
            <div class="line">
                <img src="assets/images/github.svg" alt="Ícone de Github">
                <p>danilovilhena</p>
            </div>
            <h3>Instagram</h3>
            <div class="line">
                <img src="assets/images/instagram.svg" alt="Ícone de Instagram">
                <p>dev_danilo</p>
            </div>
        </div>
    </section>
</main>