<app-header></app-header>
<main class="mx-auto">
    <h2>{{ 'contact.title' | translate }}</h2>
    <section>
        <img src="assets/images/avatar.webp" alt="{{'contact.avatar_alt' | translate}}">
        <div>
            <h3>E-mail</h3>
            <div class="line">
                <img src="assets/images/mail.svg" alt="{{'contact.mail_alt' | translate}}">
                <p>danilo.vilhena@gmail.com</p>
            </div>
            <h3>Github</h3>
            <div class="line">
                <img src="assets/images/github.svg" alt="{{'tech.github' | translate}}">
                <p>danilovilhena</p>
            </div>
            <h3>Instagram</h3>
            <div class="line">
                <img src="assets/images/instagram.svg" alt="{{'contact.instagram_alt' | translate}}">
                <p>{{'contact.instagram' | translate }}</p>
            </div>
        </div>
    </section>
</main>