<app-header></app-header>
<main>
    <section id="top-section" class="mx-auto">
        <img src="assets/images/avatar.webp" alt="Avatar do Danilo Vilhena">
        <h2>Olá, eu sou o Danilo!</h2>
        <p>Sou um <span>desenvolvedor web</span> em Fortaleza. <br>Dou enfâse à acessibilidade, usabilidade e a garantir uma boa experiência para os usuários.</p>
    </section>
    <section id="bottom-section" class="mx-auto">
        <section class="section">
            <img src="assets/images/rocket.svg" alt="Ilustração de um foguete">
            <h3>Projetos</h3>
            <p>Descubra mais detalhes sobre as aplicações que já desenvolvi.</p>
            <button routerLink="/projects">Ver mais</button>
        </section>
        <section class="section">
            <img src="assets/images/computer.svg" alt="Ilustração de um computador">
            <h3>Tecnologias</h3>
            <p>Conheça as tecnologias que tenho conhecimento e experiência</p>
            <button routerLink="/tech">Ver mais</button>
        </section>
    </section>
</main>
<app-footer></app-footer>