@media (max-width: 1399.98px) {
    #top-section{
        width: 50%;
    }
    .section{
        width: 30%;
    }
}
@media (max-width: 1199.98px) {
    .section{
        width: 35%;
    }
}
@media (max-width: 991.98px) {
    #top-section{
        width: 65%;
    }
    .section{
        width: 40%;
    }
}
@media (max-width: 767.98px) {
    #top-section{
        width: 85%;
    }
    #bottom-section{
        flex-direction: column;
        align-items: center;
    }
    .section{
        width: 65%;
    }
    .section h3{
        font-size: 2rem;
    }
    .section p{
        font-size: 1.375rem;
    }
    .section:first-child{
        margin-bottom: 2rem;
    }
}
@media (max-width: 575.98px) {
    #top-section{
        width: 90%;
    }
    #top-section h2{
        font-size: 2rem;
    }
    #top-section p{
        font-size: 1.375rem;
    }
    .section{
        width: 75%;
    }
}

@media (max-width: 424.98px) {
    .section{
        width: 90%;
    }
}
