<app-header></app-header>
<main>
    <section id="top-section" class="mx-auto">
        <img src="assets/images/avatar.webp" alt="{{'contact.avatar_alt' | translate}}">
        <h2>{{'home.top_h2' | translate}}</h2>
        <p [innerHTML]="'home.top_p' | translate"></p>
    </section>
    <section id="bottom-section" class="mx-auto">
        <section class="section">
            <img src="assets/images/rocket.svg" alt="{{'home.rocket_alt' | translate}}">
            <h3>{{'home.projects' | translate}}</h3>
            <p>{{'home.projects_p' | translate}}</p>
            <button routerLink="/projects">{{'home.button' | translate}}</button>
        </section>
        <section class="section">
            <img src="assets/images/computer.svg" alt="{{'home.computer_alt' | translate}}">
            <h3>{{'home.tech' | translate}}</h3>
            <p>{{'home.tech_p' | translate}}</p>
            <button routerLink="/tech">{{'home.button' | translate}}</button>
        </section>
    </section>
</main>
<app-footer></app-footer>