main{
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
h2{
    font-weight: 600;
}
#sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section{
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #21414E;
    box-shadow: 0px 25px 100px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    width: 40%;
}
.section #title{
    display: flex;
    align-items: center;
    margin-bottom: .75rem;
}
.section #title img{
    margin-right: 1rem;
}
.section #title h3{
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0;
}
.section p{
    font-size: 1.25rem;
}
.section #buttons{
    align-self: flex-end;
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.section a:first-child{
    margin-right: 1rem;
}
.section a{
    font-weight: 600;
    font-size: 1.25rem;
    background-color: #FFCA3A;
    color: #19323C;
    padding: .75rem 1.5rem;
    box-shadow: 0px 10px 40px rgba(48, 115, 81, 0.15);
    border-radius: 100px;
    border: none;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
.section a:hover{
    background-color: #ffd86e;
}
.section .button-inverted{
    background-color: transparent;
    border: 3px solid #FFCA3A;
    color:#FFCA3A;
}
.section .button-inverted:hover{
    background-color: #ffd86e;
    border: 3px solid #ffd86e;
    color:#19323C;
}