<app-header></app-header>
<main class="mx-auto">
    <h2>Projetos</h2>
    <div id="sections">
        <!-- BLOG -->
        <section class="section">
            <div id="title">
                <img src="assets/images/projects/blog.png" alt="Ilustração de um computador">
                <h3>Blog Tech News</h3>
            </div>
            <p>Blog com notícias de tecnologia, agrupadas por assunto ou meses do ano. Com a possibilidade de cadastro, você pode postar suas próprias produções.</p>
            <div id="buttons">
                <a class="button-inverted" routerLink="/projects/blog">Mais detalhes</a>
                <a href="https://danilovilhena.github.io/angular-express-blog/" target="_blank">Ver aplicação</a>
            </div>
        </section>
        <!-- COVID19 -->
        <section class="section">
            <div id="title">
                <img src="assets/images/projects/covid.png" alt="Ilustração de um vírus" height="56">
                <h3>Dashboard COVID-19</h3>
            </div>
            <p>Aplicação para exibir as informações do COVID em cidades e estados do Brasil e do mundo.</p>
            <div id="buttons">
                <a class="button-inverted" routerLink="/projects/covid">Mais detalhes</a>
                <a href="https://vilhena-covid-dashboard.netlify.app" target="_blank">Ver aplicação</a>
            </div>
        </section>
        <!-- Empathy Lab -->
        <section class="section">
            <div id="title">
                <img src="assets/images/projects/game.png" alt="Ilustração de um controle de videogame" width="56" height="56">
                <h3>Empathy Lab</h3>
            </div>
            <p>Jogo para demonstrar as dificuldades de uma pessoa cega ou com baixa visão ao acessar a web</p>
            <div id="buttons">
                <a class="button-inverted" routerLink="/projects/empathy">Mais detalhes</a>
                <a href="leadfortaleza.com.br/empathywal/" target="_blank">Ver aplicação</a>
            </div>
        </section>
        <!-- Landing page -->
        <section class="section">
            <div id="title">
                <img src="assets/images/projects/mail.png" alt="Ilustração de um caixa de email" height="56">
                <h3>Landing page para captura de e-mails </h3>
            </div>
            <p>Landing page para reunir interessados no produto de um cliente em um grupo do Telegram e em uma lista de emails.</p>
            <div id="buttons">
                <a class="button-inverted" routerLink="/projects/landing">Mais detalhes</a>
                <a href="https://konradmota.com.br/#/" target="_blank">Ver aplicação</a>
            </div>
        </section>
        <!-- Plugin WAL -->
        <section class="section">
            <div id="title">
                <img src="assets/images/projects/computer.png" alt="Ilustração de um computador" height="56">
                <h3>Plugin WAL</h3>
            </div>
            <p>Plugin para tornar a web mais utilizável e acessível para pessoas para pessoas com deficiência visual.</p>
            <div id="buttons">
                <a class="button-inverted" routerLink="/projects/wal">Mais detalhes</a>
                <a href="https://brasil.estadao.com.br/blogs/vencer-limites/dell-cria-software-que-inclui-acessibilidade-em-navegadores-e-sistemas/" target="_blank">Ver aplicação</a>
            </div>
        </section>
        <!-- Filmes -->
        <section class="section">
            <div id="title">
                <img src="assets/images/projects/camera.png" alt="Ilustração de uma câmera" height="56">
                <h3>Buscador de filmes</h3>
            </div>
            <p>Site que consome a API do The Movie DB para exibir, buscar e se aprofundar em mais detalhes de diversos filmes. </p>
            <div id="buttons">
                <a class="button-inverted" routerLink="/projects/movies">Mais detalhes</a>
                <a href="https://vilhena-movies.netlify.app" target="_blank">Ver aplicação</a>
            </div>
        </section>
    </div>
</main>
<app-footer></app-footer>