<app-header></app-header>
<main class="mx-auto">
    <div id="title">
        <img src="assets/images/projects/computer.png" alt="{{'project_wal.title_alt' | translate}}">
        <h2>{{'project_wal.title' | translate}}</h2>
    </div>
    <img id="project-img" src="assets/images/captures/wal.png" alt="{{'project_wal.image_alt' | translate}}">
    <section id="description">
        <h3>{{'project_blog.description_title' | translate}}</h3>
        <div style="display: flex; align-items: center; margin-top: 1rem;">
            <img src="assets/images/ellipse.svg" aria-hidden="true">
            <p>{{'project_wal.description' | translate}}.</p>
        </div>
    </section>
    <section id="technologies">
        <h3>{{'project_blog.tech_title' | translate}}</h3>
        <div style="display: flex; margin-left: 1rem; margin-top: 1rem; flex-direction: column;">
            <div style="display: flex;">
                <div class="technology" style="margin-right: 2rem;">
                    <img src="assets/images/technologies/vue.svg" alt="{{'tech.vue' | translate}}">
                    <p>Vue.js</p>
                </div>
            </div>
            <div style="display: flex;">
                <div class="technology" style="margin-right: 2rem;">
                    <img src="assets/images/technologies/bootstrap.svg" alt="{{'tech.bootstrap' | translate}}">
                    <p>Bootstrap</p>
                </div>
            </div>
        </div>
    </section>
    <section id="details">
        <h3>{{'project_blog.details_title' | translate}}</h3>
        <ul>
            <li><img src="assets/images/ellipse.svg" aria-hidden="true">{{'project_wal.detail1' | translate}}</li>
            <li><img src="assets/images/ellipse.svg" aria-hidden="true">{{'project_empathy.detail2' | translate}}</li>
            <li><img src="assets/images/ellipse.svg" aria-hidden="true">{{'project_wal.detail2' | translate}}</li>
        </ul>
    </section>
    <a id="inverted-button" routerLink="/projects">{{'project_blog.return' | translate}}</a>
</main>
<app-footer></app-footer>