<app-header></app-header>
<main class="mx-auto">
    <div id="title">
        <img src="assets/images/projects/computer.svg" alt="Ilustração de um computador">
        <h2>Plugin WAL</h2>
    </div>
    <img id="project-img" src="assets/images/captures/wal.png" alt="Imagem do Plugin WAL">
    <section id="description">
        <h3>Descrição da aplicação</h3>
        <div style="display: flex; align-items: center; margin-top: 1rem;">
            <img src="assets/images/ellipse.svg" aria-hidden="true">
            <p>Plugin para tornar a web mais utilizável e acessível para pessoas para pessoas com deficiência visual.</p>
        </div>
    </section>
    <section id="technologies">
        <h3>Tecnologias usadas</h3>
        <div style="display: flex; margin-left: 1rem; margin-top: 1rem; flex-direction: column;">
            <div style="display: flex;">
                <div class="technology" style="margin-right: 2rem;">
                    <img src="assets/images/technologies/vue.svg" alt="Ícone do Vue">
                    <p>Vue.js</p>
                </div>
            </div>
            <div style="display: flex;">
                <div class="technology" style="margin-right: 2rem;">
                    <img src="assets/images/technologies/bootstrap.svg" alt="Ícone do Bootstrap">
                    <p>Bootstrap</p>
                </div>
            </div>
        </div>
    </section>
    <section id="details">
        <h3>Detalhes da implementação</h3>
        <ul>
            <li><img src="assets/images/ellipse.svg" aria-hidden="true">Projeto ainda em desenvolvimento, no meu estágio no LEAD Fortaleza</li>
            <li><img src="assets/images/ellipse.svg" aria-hidden="true">Internacionalizamos a aplicação para inglês, espanhol e português</li>
            <li><img src="assets/images/ellipse.svg" aria-hidden="true">Implementamos uma série de funcionalidades que acessibilizam a internet, como: modificar o tamanho e o tipo de fonte, o espaçamento, as cores da página, ativar alto contraste, bloquear sons que reproduzem automaticamente, etc.</li>
        </ul>
    </section>
    <a id="inverted-button" routerLink="/projects">Voltar</a>
</main>
<app-footer></app-footer>